html,body{
	width: 100%;
	height: 100%;
}
* {
	font-family: "arial"

}

header {
	text-align: center;
	margin-bottom: 20px;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}

.menu {	
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  background: #98bf00;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:1000;
}
.menu li {
  display: inline-block;
  padding: 20px 35px;
}
.menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.banner {
	background: url("../images/11975451_945187272207773_1967972164_o.jpg");
	max-width: 100%;
	min-height: 350px;
	margin-bottom: 60px;
	background-size: cover;
}


.banner .col-12 {
	text-align: center;
	color: #FFF;
	font-weight: bold;
	padding-top: 120px;
}

.banner .col-12 h1 {
	font-size: 3em;
}

.banner .col-12 p {
	font-size: 2em;
}

.about {
	margin-bottom: 120px;
}

.about h2 {
	text-align: center;
	margin: 20px 0px 30px 0px;
	color: #025a82;
}

.about .profile {
	float: left;
	width: 180px;
	margin: 0px 20px 20px 0px;
	border: 1px solid #000;
}

.about p {
	color: #2f7696;
	font-size: 20px;
	text-align: center;
}

.favourites {
	margin: 30px 0px 20px;
	background-color: #6cb3d4;
	height: 320px;
}


.favourites h2 {
	color: #ffffff;
	margin: 20px 0px;
	text-align: center;
}

.favourites h3 {
	margin: 10px 0px 30px;
	color: #8f03e3;
	text-align: center;
}


.favourites .favourite {
	width: 100%;
	display: block;
	height: 200px;
}

.contact {
  text-align: center;
  
}

.contact h2 {
	color: #025a82;
	margin: 100px 0px 30px;
}

.contact{
  min-height: 700px;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color: #b8d448;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

footer{
	background-color: #98bf00;
	padding: 2% 0%;
	color: #ffffff;
}